.testimonial {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 60px 20px;
    box-sizing: border-box;
}

.slide {
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.swiper-slide {
    opacity: 0.3;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.96);
}

.swiper-slide-active {
    opacity: 1 !important;
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
}