.testimonial {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.slide {
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.swiper-slide-active {
    opacity: 1 !important;
    transform: scale(1.05);
    z-index: 1;
}